.detail-film{
    display: flex;
    justify-content: space-around;
    background-color: rgb(1, 1, 29);
}
.detail-film__head{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 800px; 
   
}
.detail-film__name{
    margin: 0;
}
.detail-film__rating{
    width: 30px;
    text-align: center;
    background-color: rgb(233, 77, 5);
}
.detail-film__description{
    width: 400px;
    letter-spacing: 1px;
    color: rgb(139, 139, 148);
}
.button-play{
    background-color: rgb(233, 77, 5);
    color: wheat;
    width: 150px;
    height: 50px;
    border-radius: 50px;
}
.button-play:hover{
    background-color: rgb(139, 139, 148);
}